.more-loading {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: .3rem;
	margin-bottom: .1rem;
	color: #999;
	font-size: .14rem;

	.loading {
		display: block;
		width: .15rem;
		height: .15rem;
		margin-right: .05rem;
	}
}
